@charset 'utf-8';
html{font-family: 'Roboto',sans-serif;font-size: 14px;line-height: 1;color: #616161;}
html,body,header,section,footer,div,ul,ol,li,p,span,h1,h2,h3,h4,h5,h6,article,form,label,input,nav,address,aside,a,img,textarea,iframe,figure,figcaption,strong,select,button,option,table,legend{
  box-sizing: border-box;margin: 0;padding: 0;
}
img{vertical-align: top;}
a{text-decoration: none;color: #616161;}
ol,ul,li{list-style: none;}
h1,h2,h3,h4,h5,h6{font-size: 14px;font-weight: 400;font-family: 'Roboto';}
address{font-style: normal;}
.clearfix::after{content:'';display: block;clear: both;}