@charset 'utf-8';
@media(min-width: 768px){
  .header{height: 82px; padding: 0 7.03125%;}
  .header .tgl_menu{display: none;}
  .header nav{display: block !important;position: static;background-color: transparent;}
  .header .main_nav{padding: 0;}
  .header .main_nav li{border-bottom: none;padding: 0 0 0 2rem;}
  .header .main_nav a{color: #3f51b5;}
  .page_info .container,.blog_list,.header .main_nav{flex-direction: row;}
  .page_info .container li,.blog_list li{margin-bottom: 0;margin-right: 2rem;}
  .page_info .container li:last-child,.blog_list li:last-child{margin-right: 0;}
  .blog_list li{margin-right: 2.601156069364162%;}
  .work_list,.contact .form_box{flex-flow: row wrap;}
  .work_list li,.form_box li{width: 50%;}
  .form_box li{padding-right: 18px;}
  .form_box li:nth-child(2){padding-right: 0;}
  .form_box li:last-child{width: 100%;padding-right: 0;}
  footer{height: 87px;}
}